body {
    background: #d12f20;
}

h1 {
    font-size: 4em;
    color: #FFF;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

h1 i.fa {
    color: #0b6d1d;
}

.container {
    padding-top: 80px;
    margin: 0 auto;
    width: 70%;
}

.container .input-group {
    border: none;
}

.container .input-group-addon {
    background: #FFF;
}

.container .btn {
    border: none;
    font-size: 1.2em;
    color: #333;
    background: #FFF;
}

.container .btn:hover {
    color: #fff;
    background: #19772a;
}

.userlist {
    margin-top: 10px;
}

.userlist h2 {
    text-align: center;
    color: #FFF;
    font-family: 'Libre Baskerville', serif;
}

.userlist .no-users {
    color: #f57575;
    text-align: center;
    font-size: 1.2em;
}

ul.list-group {
    font-size: 1.2em;
}

ul.list-group li {
    text-align: center;
    border-color: #d12f20;
    border-width: 2px;
    color: #fff;
    background: #a0271c;
}

ul.list-group li:hover {
    background: #760d03;
}

ul.list-group li i.fa {
    font-size: 1.5em;
    float: right;
}

ul.list-group li i.fa:hover {
    color: #d12f20;
}

.error-popup {
    font-size: 1.2em;
    color: #f8ebe5;
    border-color: #ff6d4b;
    background: #ff6d4b;
    display: none;
    text-align: center;
}

.error-popup i {
    float: left;
    font-size: 1.3em;
}
